/* Hier koennten Komponenten-spezifische Einstellungen gemacht werden */
.App {
    display: flex;
    flex-direction: column;
}

.availableTraffic {
    background-color: aquamarine;
    margin-bottom: 0;
}