/* CSS nur fuer TrafficInformation-Komponente */
.information-board {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:aliceblue;
    border-bottom: 2px solid salmon;
}

h4, p {
    margin: 5px;
}